{% extends "base.html" %}
{% load bootstrap3 breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb_url 'Home' "moderations:groups" %}
{% endblock %}

{% block content %}

    <ul class="list-group">
        {% for p in object.postments.all %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    <span class="pull-right">
                        <button class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-ok"></i></button>
                        <button class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-envelope"></i></button>
                        <button class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-trash"></i></button>
                    </span>
                    {{ item.product.title }}
                </h4>
                <div class="list-group-item-text">
                    {{ p.message }}
                </div>
            </li>
        {% endfor %}
    </ul>


{#    {% bootstrap_pagination page_obj %}#}

{% endblock %}