    {% extends "base.html" %}
{% load i18n staticfiles bootstrap3 %}

{% block styles %}
    <link href="{% static "vendor/jquery-ui/jquery-ui.min.css" %}" rel="stylesheet">
{%  endblock %}

{% block content %}
    <a href="{% url "moderations:groups" %}">All Groups</a>
    &gt;
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input id="group_id" name="group_id" type="hidden"/>
        <div class="form-group">
            <lable class="control-label" for="moderators">Moderators</lable>
            <button class="pull-right btn add">
                {% bootstrap_icon "plus-sign" %}</button>
            <ul class="list-group" id="g_moderators">
            {% for moderator in object.moderators.all %}
                 <li class="list-group-item"><input type="text" value="{{ moderator.user.username }}" disabled></input>
                     <button class="pull-right btn remove">{% bootstrap_icon "minus-sign" %}</button>
                 </li>
            {% endfor %}
            </ul>
        </div>
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Save {% bootstrap_icon "save" %}
            </button>
        {% endbuttons %}
    </form>

{% endblock %}

{% block scripts %}
    <script src={% static "vendor/jquery.js" %}></script>
    <script src={% static "vendor/jquery-ui/jquery-ui.min.js" %}></script>
    <script src={% static "mine/group_auto_complete.js" %}></script>
    <script>
        // todo: find a better way to share with the js
        let all_mods = [];
        {% for m in moderator_list %}
            if ("{{ m.user.username|lower }}" != "{{ object.administrator.user.username|lower }}") {
                all_mods.push({label: "{{ m.user.username }}", value: "{{ m.fb_user_id }}"});
            }
        {% endfor %}
        let selected_mods = new Set([]);
        {% for moderator in object.moderators.all %}
            selected_mods.add("{{ moderator.user.username|lower }}");
        {% endfor %}
        //let admin = "{{ object.administrator.user.username|lower }}";

    </script>
    <script src={% static "mine/moderators.js" %}></script>
{% endblock %}
